/* The Modal (background) */
.modal {
  background-color: #01223770; /* Fallback color */
  background-color: rgba(255, 255, 255, 0.4); /* Black w/ opacity */
  backdrop-filter: blur(10px);
  transition: 0.4s;
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.75);
  z-index: 100;
  overflow-y: scroll;
  padding: 2% 0;
}

/* Modal Content */
.modal-content {
  position: relative;
  border-radius: 10px;
  background-color: #fefefe;
  margin: auto auto 5% auto;
  padding: 10px 10px 50px;
  border: 1px solid #888;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(161, 161, 161, 0.2);
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 0.4s;
  animation-name: fade-in;
  animation-duration: 0.4s;
  z-index: 999;
}
/* round edges on modal header and footer*/
.modal-header {
  border-radius: 10px 10px 0 0;
}
.modal-footer {
  border-radius: 0 0 9px 9px;
}

/* Add Animation */
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  min-height: 30em;
}
.modal-body {
  padding: 2px 16px;
}
.modal-footer {
  padding: 2px 16px;
  text-align: center;
  color: white;
}

/*----------------- GALLERY SECTION ---------------*/

#gallery-container {
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}
.proj-title {
  text-decoration: none;
  opacity: 0;
}
.proj-title:hover {
  display: block;
  color: #fff;
  opacity: 1;
}
.project-container {
  display: block;
  overflow: hidden;
  text-align: center;
  opacity: 1;
  transition: 0.2s;
  background-color: pink;
}
.project-container:hover img {
  opacity: 0.95;
}
.modal-button {
  display: block;
  height: 100%;
  padding: 45% 0;
  transition: 0.2s;
  opacity: 0;
}
.modal-button a:hover {
  opacity: 1;
}

/* modal , project views */

.project-views {
  display: block;
}
.project-views img {
  width: 100%;
}
