.about-fact-box {
  display: grid;
  width: 125px;
  float: left;
  margin: 1%;
  height: 125px;
  background-color: #e7e7e7;
  border-radius: 10px;
  padding: 1%;
}
#about-me-cta {
  display: flex;
  align-items: center;
  align-self: center;
  background-color: #eeeeee;
  padding: 3%;
}
