.about-title {
  text-align: center;
  font-style: italic;
}
.about-photo-intro {
  display: grid;
  grid-template-columns: 1fr;
}
.about-photo {
  display: flex;
  display: flex;
  width: 50%;
  margin: 5% auto;
}
.about-photo img {
  margin: 0 auto;
  width: 100%;
  border-radius: 50%;
}
.humble-beginnings {
  margin: 5% 0;
  padding: 5% 0;
  background-color: #eeeeee;
}
.humble-beginnings-container {
  display: grid;
  grid-template-columns: 65% auto;
  column-gap: 10px;
}
.humble-photo-container {
  width: 100%;
}
.humble-beginnings-container img {
  width: 100%;
  border-radius: 50%;
}

.about-fact-box {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  margin: 2%;
  background-color: #eeeeee;
  border-radius: 10px;
  height: 100px;
  padding: 10px;
  -webkit-filter: drop-shadow(0 3px 1px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(0 2px 2px #d1d1d1);
  /* Similar syntax to box-shadow */
}
.heart-float {
  text-align: center;
  height: 40px;
  width: 40px;
  display: block;
  position: absolute;
  top: -20px;
  left: 45%;
}
#about-me-cta {
  display: flex;
  align-items: center;
  align-self: center;
  background-color: #eeeeee;
  margin: 5% 0;
  padding: 5% 0;
}
.facts-container {
  display: grid;
  row-gap: 15px;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr;
}
