.about-fact-box {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  margin: 2%;
  background-color: #eaeaea;
  border-radius: 10px;
  height: 100px;
  padding: 10px;
}
.big-heart {
  font-size: 27px;
  color: $pink;
}
.heart-float {
  text-align: center;
  height: 30px;
  width: 30px;
  display: block;
  position: absolute;
  top: -15px;
  left: 45%;
}
#about-me-cta {
  display: flex;
  align-items: center;
  align-self: center;
  background-color: #eeeeee;
  padding: 3%;
}
.facts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
