.intro {
  margin: 5% 2%;
  height: 100vh;
  overflow: hidden;
}
.intro-pic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin: 0 auto;
}
.intro-pic img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 0 auto 3% auto;
  display: block;
}
.hello-title {
  text-align: center;
  letter-spacing: 1.5px;
  display: block;
  font-size: 25px;
  color: #101235;
  font-weight: 600;
  width: 90%;
  line-height: 28px;
  margin: 0 auto;
}
.intro-text {
  width: 90%;
  margin: 0 auto;
  display: block;
}

/* about btn */
.about-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  text-align: center;
  height: 50px;
  margin: 3% auto;
  border-radius: 4em;
  border: 4px solid #6e30ff;
  border-image-slice: 1;
  transition: 0.3s;
}
.btn-about-link {
  color: #6e30ff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 12px;
}
.about-btn:hover {
  background-color: #ff316c;
  border: 0px solid #ff316c;
}
.btn-about-link:hover {
  color: #fff;
}

/* tablet */

@media (min-width: 1000px) {
  .intro {
    margin: 0 auto 4% auto;
    width: 80%;
  }
  .intro-text {
    float: right;
    margin: 0 auto;
    padding-right: 8%;
    width: 50%;
  }
  .intro-pic {
    width: 40%;
    float: left;
    margin: 0 auto;
  }
  .intro-pic img {
    width: 100%;
    display: block;
    border-radius: 50%;
    max-height: 350px;
    max-width: 350px;
    margin: 0 auto;
  }
}
