//import all of my css variables
@import "_vars.scss";
@import "_intro.scss";
@import "_modal.scss";
@import "_header.scss";
@import "_footer.scss";
@import "_portfolio.scss";
@import "_portpage.scss";

// ------------------- global
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: $darkblue;
  font-weight: 300;
  background-color: indigo; //check to see if css is working tho
  background-color: rgb(243, 243, 243);
  transition: opacity 2s;
}
.row-no-padding > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.shadow {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  /* Similar syntax to box-shadow */
}

// ------------------- headers & font style

h1 {
  font-family: "Playfair Display", serif;
}
.bold {
  font-weight: 500;
}

// ------------------- floats & clearfix

.right {
  float: right;
}
.left {
  float: left;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}

// ------------------- intro text
.about-main {
  text-align: center;
  display: none;
}
.content-container {
  display: block;
  width: 100%;
  margin: 0 auto;
  color: black;
}
