//import all of my css variables
@import "_vars.scss";
@import "_intro.scss";
@import "_modal.scss";
@import "_header.scss";
@import "_footer.scss";
@import "_portfolio.scss";
@import "_port-page.scss";
@import "_project-details.scss";
@import "_about-page.scss";

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Poppins:wght@200;400;500;600;700&display=swap");

// ------------------- global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 75%;
  line-height: 25px;
  letter-spacing: 0.5px;
  color: $darkblue;
  font-weight: 400;
  background-color: rgb(243, 243, 243);
  transition: opacity 2s;
}
.row-no-padding > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.shadow {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  /* Similar syntax to box-shadow */
}
a {
  text-decoration: none;
}
.wrapper {
  width: 98%;
  padding: 2%;
  max-width: 1080px;
  margin: 0 auto;
}
// ------------------- headers & font style

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
}
.bold {
  font-weight: 500;
}
.underline {
  background-image: linear-gradient(0deg, #93ffe2 35%, transparent 35%);
}

// ------------------- floats & clearfix

.right {
  float: right;
}
.left {
  float: left;
}
.center {
  margin: 0 auto;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

// ------------------- intro text

// --------------- elements

.divider {
  height: 3px;
  background-color: #4df0c4;
  display: block;
  width: 30px;
  margin: 5% auto;
}

.main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  height: 50px;
  border-radius: 4em;
  border: 4px solid #6e30ff;
  border-image-slice: 1;
  transition: 0.3s;
}

.main-btn-link,
.btn-view-modal {
  color: #6e30ff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 12px;
  display: inline-block;
}
.main-btn-link {
  width: 25%;
}
.main-btn:hover {
  background-color: #ff316c;
  border: 0px solid #ff316c;
}
.main-btn-link:hover,
.btn-view-modal:hover {
  color: #fff;
}

.btn-view-modal {
  width: 75%;
}
