//import all of my css variables
@import "_vars.scss";
@import "_intro.scss";
@import "_modal.scss";
@import "_header.scss";
@import "_footer.scss";
@import "_portfolio.scss";
@import "_port-page.scss";
@import "_about-page.scss";

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Poppins:wght@200;500&display=swap");

// ------------------- global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 75%;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: $darkblue;
  font-weight: 300;
  background-color: rgb(243, 243, 243);
  transition: opacity 2s;
}
.row-no-padding > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.shadow {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  /* Similar syntax to box-shadow */
}
a {
  text-decoration: none;
}
.wrapper {
  background-color: pink;
  width: 98%;
  padding: 2%;
  max-width: 1080px;
  margin: 0 auto;
}
// ------------------- headers & font style

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
}
.bold {
  font-weight: 500;
}
.underline {
  background-image: linear-gradient(0deg, #93ffe2 35%, transparent 35%);
}

// ------------------- floats & clearfix

.right {
  float: right;
}
.left {
  float: left;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}

// ------------------- intro text
.about-main {
  text-align: center;
  display: none;
}
.content-container {
  display: block;
  width: 100%;
  margin: 0 auto;
  color: black;
}

.divider-pnk {
  height: 3px;
  background-color: #4df0c4;
  display: block;
  width: 30px;
  margin: 2% auto 5% auto;
}
